{
  "openapi": "3.0.1",
  "info": {
    "title": "공공데이터포털 검색 서비스",
    "description": "공공데이터 포털에서 제공하는 목록 검색 서비스 입니다. <br/><br/> 공공데이터 포털 조건검색, 제공 기관별 검색등에 대한 메타데이터를 제공합니다.<br/>* 데이터 찾기 > 데이터 목록 조건 참고 <br/><br/>특정 요청변수는 날짜형식, 대소문자등의 지정된 형식으로 작성하여야합니다.(request_model 참고)<br/><br/>공공데이터포털 검색 서비스 오픈 API는 `POST` method로 지원, json형식으로 지원합니다.(GET method 미지원)<br/><br/>아래의 header설정은 필수입니다.<br/>* Content-Type : application/json",
    "version": "1",
    "contact": {
      "name": "공공데이터포털",
      "url": "https://www.data.go.kr"
    }
  },
  "servers": [
    {
      "url": "https://api.odcloud.kr/api",
      "description": "Production server"
    },
    {
      "url": "http://api.odcloud.kr/api",
      "description": "Production server (HTTP)"
    }
  ],
  "paths": {
    "/GetSearchDataList/v1/searchData": {
      "post": {
        "tags": [
          "API 목록"
        ],
        "summary": "공공데이터포털 데이터 목록 검색",
        "description": "공공데이터 포털에서 제공하는 데이터 목록을 다양한 조건으로 검색합니다.",
        "operationId": "searchPublicData",
        "requestBody": {
          "description": "검색 조건을 담은 요청 본문",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/request_model"
              },
              "examples": {
                "keywordSearch": {
                  "summary": "키워드 검색 예시",
                  "value": {
                    "keyword": "날씨",
                    "page": 1,
                    "size": 10,
                    "sort": "inqireCo"
                  }
                },
                "detailedSearch": {
                  "summary": "상세 조건 검색 예시",
                  "value": {
                    "keyword": "맛집",
                    "page": 1,
                    "size": 5,
                    "dataType": [
                      "API"
                    ],
                    "organizations": [
                      "한국관광공사"
                    ],
                    "sort": "updtDt",
                    "sortOrder": "desc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공적으로 검색 결과를 반환함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response_api"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 파라미터",
            "content": {}
          },
          "401": {
            "description": "인증 정보가 정확하지 않음",
            "content": {}
          },
          "405": {
            "description": "지원하지 않는 요청 메소드",
            "content": {}
          },
          "500": {
            "description": "API 서버 내부 오류",
            "content": {}
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "request_model": {
        "title": "데이터 검색 요청 모델",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "페이지 번호 (90,000을 초과할 수 없음)",
            "format": "int64",
            "default": 1,
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "한 페이지에 보여줄 데이터 수 (10,000을 초과할 수 없음)",
            "format": "int64",
            "default": 10,
            "example": 10
          },
          "keyword": {
            "type": "string",
            "description": "검색어",
            "example": "보건"
          },
          "brm": {
            "type": "array",
            "description": "분류체계 (예: 공공행정)",
            "items": {
              "type": "string"
            },
            "example": [
              "교육",
              "문화/관광"
            ]
          },
          "coreDataAt": {
            "type": "string",
            "description": "국가중점데이터 여부 (Y/N)",
            "example": "Y"
          },
          "corpApiAt": {
            "type": "string",
            "description": "기업전용 API 여부 (Y/N)",
            "example": "N"
          },
          "dataType": {
            "type": "array",
            "description": "데이터 타입 (FILE, API, STD)",
            "items": {
              "type": "string",
              "enum": [
                "FILE",
                "API",
                "STD"
              ]
            },
            "example": [
              "API"
            ]
          },
          "extensions": {
            "type": "array",
            "description": "파일 확장자 (CSV, DOC, HWP...)",
            "items": {
              "type": "string"
            },
            "example": [
              "CSV",
              "JSON"
            ]
          },
          "institutionType": {
            "type": "array",
            "description": "제공기관 유형 (공공기관, 교육기관...)",
            "items": {
              "type": "string"
            },
            "example": [
              "중앙행정기관"
            ]
          },
          "organizations": {
            "type": "array",
            "description": "제공기관명 (공공데이터포털 제공기관별 검색 참조)",
            "items": {
              "type": "string"
            },
            "example": [
              "보건복지부",
              "국민건강보험공단"
            ]
          },
          "serviceType": {
            "type": "array",
            "description": "서비스 유형 (LINK, SOAP, REST, 다운로드...)",
            "items": {
              "type": "string"
            },
            "example": [
              "REST"
            ]
          },
          "sort": {
            "type": "string",
            "description": "정렬기준 (_sort: 정확도순, inqireCo: 조회순, reqCo: 활용순, updtDt: 수정일자순)",
            "enum": [
              "_sort",
              "inqireCo",
              "reqCo",
              "updtDt"
            ],
            "example": "inqireCo"
          },
          "sortOrder": {
            "type": "string",
            "description": "정렬순서 (desc: 내림차순, asc: 오름차순)",
            "enum": [
              "desc",
              "asc"
            ],
            "example": "desc"
          },
          "gt": {
            "type": "string",
            "description": "수정일 기준 날짜 검색 (초과), 형식: YYYY-MM-DD",
            "format": "date",
            "example": "2023-01-01"
          },
          "gte": {
            "type": "string",
            "description": "수정일 기준 날짜 검색 (이상), 형식: YYYY-MM-DD",
            "format": "date",
            "example": "2023-01-01"
          },
          "lt": {
            "type": "string",
            "description": "수정일 기준 날짜 검색 (미만), 형식: YYYY-MM-DD",
            "format": "date",
            "example": "2023-12-31"
          },
          "lte": {
            "type": "string",
            "description": "수정일 기준 날짜 검색 (이하), 형식: YYYY-MM-DD",
            "format": "date",
            "example": "2023-12-31"
          }
        }
      },
      "response_api": {
        "title": "데이터 검색 응답 모델",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "현재 페이지 번호",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "페이지 당 데이터 수",
            "example": 10
          },
          "totalCount": {
            "type": "integer",
            "description": "전체 데이터 수",
            "example": 1234
          },
          "data": {
            "type": "array",
            "description": "검색된 데이터 목록",
            "items": {
              "$ref": "#/components/schemas/data_item"
            }
          }
        }
      },
      "data_item": {
        "title": "개별 데이터 항목",
        "type": "object",
        "properties": {
          "dataName": {
            "type": "string",
            "description": "데이터 목록명",
            "example": "전국 약국 정보"
          },
          "dataDescription": {
            "type": "string",
            "description": "데이터 상세 설명",
            "example": "전국 약국의 주소, 전화번호, 운영시간 등의 정보를 제공합니다."
          },
          "useScopeCode": {
            "type": "string",
            "description": "이용허락범위",
            "example": "공공누리 제1유형"
          },
          "firstBrmName": {
            "type": "string",
            "description": "분류체계 1단계",
            "example": "보건"
          },
          "secondBrmName": {
            "type": "string",
            "description": "분류체계 2단계",
            "example": "보건의료"
          },
          "organization": {
            "type": "string",
            "description": "제공기관",
            "example": "건강보험심사평가원"
          },
          "coreDataName": {
            "type": "string",
            "description": "국가중점 데이터명",
            "example": "국민건강"
          },
          "keywords": {
            "type": "array",
            "description": "키워드",
            "items": {
              "type": "string"
            },
            "example": [
              "약국",
              "병원",
              "의료"
            ]
          },
          "dataProvisionType": {
            "type": "string",
            "description": "서비스 유형",
            "example": "API"
          },
          "institutionType": {
            "type": "string",
            "description": "제공 기관 유형",
            "example": "공공기관"
          },
          "dataType": {
            "type": "string",
            "description": "데이터 타입",
            "example": "API"
          },
          "updateDate": {
            "type": "string",
            "description": "수정일",
            "format": "date",
            "example": "2023-10-26"
          },
          "detailPageUrl": {
            "type": "string",
            "description": "데이터 상세 페이지 URL",
            "format": "uri",
            "example": "https://www.data.go.kr/data/15000000/openapi.do"
          },
          "columns": {
            "type": "array",
            "description": "표준데이터 컬럼 목록",
            "items": {
              "type": "string"
            },
            "example": [
              "약국명",
              "주소",
              "전화번호"
            ]
          },
          "corpApi": {
            "type": "boolean",
            "description": "기업 전용 API 여부",
            "example": false
          },
          "coreData": {
            "type": "boolean",
            "description": "국가중점 데이터 여부",
            "example": true
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "공공데이터포털에서 발급받은 일반 인증키 (URL 인코딩된 키)"
      },
      "ApiKeyAuth2": {
        "type": "apiKey",
        "name": "serviceKey",
        "in": "query",
        "description": "공공데이터포털에서 발급받은 일반 인증키 (URL 인코딩 되지 않은 원본 키)"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
